<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.cms.scale.mapper.LbsContextsMapper">
    
    <resultMap type="LbsContexts" id="LbsContextsResult">
        <result property="contextId"    column="context_id"    />
        <result property="parentContextId"    column="parent_context_id"    />
        <result property="orderNum"    column="order_num"    />
        <result property="contextNo"    column="context_no"    />
        <result property="contextName"    column="context_name"    />
        <result property="pic"    column="pic"    />
        <result property="content"    column="content"    />
        <result property="jsonMonitor"    column="json_monitor"    />
        <result property="jsonData"    column="json_data"    />
        <result property="jsonParams"    column="json_params"    />
        <result property="jsonResult"    column="json_result"    />
        <result property="status"    column="status"    />
        <result property="appored"    column="appored"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="apporBy"    column="appor_by"    />
        <result property="apporTime"    column="appor_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <resultMap id="ContextResult" type="ContextVo">
        <id property="contextId" column="context_id"/>
        <result property="contextNo" column="context_no"/>
        <result property="contextName" column="context_name"/>
        <result property="pic" column="pic"/>
        <result property="content" column="content"/>
        <collection property="topics" resultMap="TopicResult" columnPrefix="topic_"/>
    </resultMap>

    <resultMap id="TopicResult" type="TopicVo">
        <id property="topicId" column="topic_id" />
        <result property="topicType" column="topic_type"/>
        <result property="orderNum" column="topic_order_num"/>
        <result property="title" column="topic_title"/>
        <result property="required" column="required"/>
        <collection property="options" resultMap="OptionResult" columnPrefix="opt_"/>
    </resultMap>

    <resultMap id="OptionResult" type="OptionVo">
        <id property="optionId" column="option_id"/>
        <result property="orderNum" column="option_order_num"/>
        <result property="title" column="option_title"/>
    </resultMap>

    <sql id="selectLbsContextsVo">
        select context_id, parent_context_id, order_num, context_no, context_name, pic, content,json_monitor,json_data,json_params,json_result, status, appored, create_by, create_time, update_by, update_time, appor_by, appor_time, remark from lbs_contexts
    </sql>

    <select id="selectLbsContextsList" parameterType="LbsContexts" resultMap="LbsContextsResult">
        <include refid="selectLbsContextsVo"/>
        <where>
            <if test="parentContextId != null "> and parent_context_id = #{parentContextId}</if>
            <if test="contextNo != null  and contextNo != ''"> and context_no like concat('%', #{contextNo}, '%')</if>
            <if test="contextName != null  and contextName != ''"> and context_name like concat('%', #{contextName}, '%')</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="appored != null  and appored != ''"> and appored = #{appored}</if>
        </where>
        ORDER BY order_num
    </select>
    
    <select id="selectLbsContextsByContextId" parameterType="Long" resultMap="LbsContextsResult">
        <include refid="selectLbsContextsVo"/>
        where context_id = #{contextId}
    </select>

    <!-- 查询语句 -->
    <select id="selectContextWithRelations" resultMap="ContextResult">
        SELECT
            c.context_id,
            c.context_no,
            c.context_name,
            c.pic,
            c.content,
            t.topic_id AS topic_topic_id,
            t.topic_type AS topic_topic_type,
            t.order_num AS topic_topic_order_num,
            t.title AS topic_topic_title,
            t.required AS topic_required,
            o.option_id AS topic_opt_option_id,
            o.order_num AS topic_opt_option_order_num,
            o.title AS topic_opt_option_title
        FROM lbs_contexts c
                 LEFT JOIN lbs_topics t ON c.context_id = t.context_id
                 LEFT JOIN lbs_options o ON t.topic_id = o.topic_id
        WHERE c.context_id = #{contextId}
        ORDER BY t.order_num, o.order_num
    </select>

    <insert id="insertLbsContexts" parameterType="LbsContexts">
        insert into lbs_contexts
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="contextId != null">context_id,</if>
            <if test="parentContextId != null">parent_context_id,</if>
            <if test="orderNum != null">order_num,</if>
            <if test="contextNo != null">context_no,</if>
            <if test="contextName != null">context_name,</if>
            <if test="pic != null">pic,</if>
            <if test="content != null">content,</if>
            <if test="jsonMonitor != null">json_monitor,</if>
            <if test="jsonData != null">json_data,</if>
            <if test="jsonParams != null">json_params,</if>
            <if test="jsonResult != null">json_result,</if>
            <if test="status != null">status,</if>
            <if test="appored != null">appored,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="apporBy != null">appor_by,</if>
            <if test="apporTime != null">appor_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="contextId != null">#{contextId},</if>
            <if test="parentContextId != null">#{parentContextId},</if>
            <if test="orderNum != null">#{orderNum},</if>
            <if test="contextNo != null">#{contextNo},</if>
            <if test="contextName != null">#{contextName},</if>
            <if test="pic != null">#{pic},</if>
            <if test="content != null">#{content},</if>
            <if test="jsonMonitor != null">#{jsonMonitor},</if>
            <if test="jsonData != null">#{jsonData},</if>
            <if test="jsonParams != null">#{jsonParams},</if>
            <if test="jsonResult != null">#{jsonResult},</if>
            <if test="status != null">#{status},</if>
            <if test="appored != null">#{appored},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="apporBy != null">#{apporBy},</if>
            <if test="apporTime != null">#{apporTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateLbsContexts" parameterType="LbsContexts">
        update lbs_contexts
        <trim prefix="SET" suffixOverrides=",">
            <if test="parentContextId != null">parent_context_id = #{parentContextId},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="contextNo != null">context_no = #{contextNo},</if>
            <if test="contextName != null">context_name = #{contextName},</if>
            <if test="pic != null">pic = #{pic},</if>
            <if test="content != null">content = #{content},</if>
            <if test="jsonMonitor != null">json_monitor = #{jsonMonitor},</if>
            <if test="jsonData != null">json_data = #{jsonData},</if>
            <if test="jsonParams != null">json_params = #{jsonParams},</if>
            <if test="jsonResult != null">json_result = #{jsonResult},</if>
            <if test="status != null">status = #{status},</if>
            <if test="appored != null">appored = #{appored},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="apporBy != null">appor_by = #{apporBy},</if>
            <if test="apporTime != null">appor_time = #{apporTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where context_id = #{contextId}
    </update>

    <delete id="deleteLbsContextsByContextId" parameterType="Integer">
        delete from lbs_contexts where context_id = #{contextId}
    </delete>

    <delete id="deleteLbsContextsByContextIds" parameterType="String">
        delete from lbs_contexts where context_id in 
        <foreach item="contextId" collection="array" open="(" separator="," close=")">
            #{contextId}
        </foreach>
    </delete>
</mapper>