<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.cms.offline.mapper.ActivitiesMapper">

    <resultMap type="Activities" id="ActivitiesResult">
        <result property="activityId"    column="activity_id"    />
        <result property="parentActivityId"    column="parent_activity_id"    />
        <result property="orderNum"    column="order_num"    />
        <result property="activityName"    column="activity_name"    />
        <result property="img"    column="img"    />
        <result property="address"    column="address"    />
        <result property="orgName"    column="org_name"    />
        <result property="content"    column="content"    />
        <result property="tel"    column="tel"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="activityType"    column="activity_type"    />
        <result property="status"    column="status"    />
        <result property="appored"    column="appored"    />
        <result property="publishTime"    column="publish_time"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="userId"    column="user_id"    />
        <result property="deptId"    column="dept_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="apporBy"    column="appor_by"    />
        <result property="apporTime"    column="appor_time"    />
    </resultMap>

    <resultMap type="ActivitiesStateVo" id="ActivitiesStateResult">
        <result property="activityId"    column="activity_id"    />
        <result property="parentActivityId"    column="parent_activity_id"    />
        <result property="orderNum"    column="order_num"    />
        <result property="activityName"    column="activity_name"    />
        <result property="img"    column="img"    />
        <result property="address"    column="address"    />
        <result property="orgName"    column="org_name"    />
        <result property="content"    column="content"    />
        <result property="tel"    column="tel"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="activityType"    column="activity_type"    />
        <result property="status"    column="status"    />
        <result property="appored"    column="appored"    />
        <result property="publishTime"    column="publish_time"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="userId"    column="user_id"    />
        <result property="deptId"    column="dept_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="apporBy"    column="appor_by"    />
        <result property="apporTime"    column="appor_time"    />
        <result property="hdState"    column="hd_state"    />
        <result property="isSigned"    column="is_signed"    />
        <result property="canSign"    column="can_sign"    />
        <result property="isCheckIn"    column="is_checkin"    />
        <result property="canCheckIn"    column="can_checkin"    />
        <result property="isReview"    column="is_review"    />
        <result property="canReview"    column="can_review"    />
    </resultMap>

    <sql id="selectActivitiesVo">
        select activity_id, parent_activity_id, order_num, activity_name, img, address, org_name, content, tel,
               start_time, end_time,activity_type, status, appored,publish_time, del_flag, user_id, dept_id, create_by, create_time,
               update_by, update_time, remark, appor_by, appor_time from ofa_activities t
    </sql>

    <sql id="filterConditions">
        <if test="parentActivityId != null ">and parent_activity_id = #{parentActivityId}</if>
        <if test="activityName != null and activityName != ''">and activity_name like CONCAT('%', #{activityName}, '%')</if>
        <if test="orgName != null and orgName != ''">and org_name like CONCAT('%', #{orgName}, '%')</if>
        <if test="startTime != null">and start_time &gt;= #{startTime}</if>
        <if test="endTime != null">and end_time &lt;= #{endTime}</if>
        <if test="status != null and status != ''">and status = #{status}</if>
        <if test="appored != null and appored != ''">and appored = #{appored}</if>
        <!-- 数据范围过滤 -->
        ${params.dataScope}
    </sql>

    <select id="selectActivitiesList" parameterType="Activities" resultMap="ActivitiesResult">
        <include refid="selectActivitiesVo"/>
        <where>
            <include refid="filterConditions"/>
        </where>
    </select>

    <select id="selectPrimaryActivitiesList" parameterType="Activities" resultMap="ActivitiesResult">
        <include refid="selectActivitiesVo"/>
        <where>
            <if test="parentActivityId != null ">and parent_activity_id = #{parentActivityId}</if>
            <if test="activityName != null and activityName != ''">and activity_name like CONCAT('%', #{activityName}, '%')</if>
            <if test="orgName != null and orgName != ''">and org_name like CONCAT('%', #{orgName}, '%')</if>
            <if test="startTime != null">and start_time &gt;= #{startTime}</if>
            <if test="endTime != null">and end_time &lt;= #{endTime}</if>
            <if test="status != null and status != ''">and status = #{status}</if>
            and appored in ('2','3')
            <!-- 数据范围过滤 -->
            ${params.dataScope}
        </where>
    </select>

    <select id="selectActivitiesWithChild" parameterType="Activities" resultMap="ActivitiesResult">
        select distinct t.* from
        (
            <include refid="selectActivitiesVo"/>
            <where>
                parent_activity_id = 0
                <include refid="filterConditions"/>
            </where>
            union all
            <include refid="selectActivitiesVo"/> where parent_activity_id in
            (
                select activity_id from ofa_activities
                <where>
                    parent_activity_id = 0
                    <include refid="filterConditions"/>
                </where>
            )
            union all
            <include refid="selectActivitiesVo"/> where activity_id in
            (
                select parent_activity_id from ofa_activities
                <where>
                    parent_activity_id &lt;&gt;'0'
                    <include refid="filterConditions"/>
                </where>
            )
            union all
            <include refid="selectActivitiesVo"/> where parent_activity_id in
            (
            select parent_activity_id from ofa_activities
            <where>
                parent_activity_id &lt;&gt;'0'
                <include refid="filterConditions"/>
            </where>
            )
        ) t
    </select>

    <select id="selectActivitiesByActivityId" parameterType="Long" resultMap="ActivitiesResult">
        <include refid="selectActivitiesVo"/>
        where activity_id = #{activityId}
    </select>


    <select id="selectActivitiesStateByStudent" parameterType="ActivitiesStateVo" resultMap="ActivitiesStateResult">
        SELECT * FROM
            (
                SELECT
                    a.*,
                    s.dict_label hd_state,
                    CASE WHEN b.user_id IS NULL THEN 0 ELSE 1 END is_signed,
                    CASE WHEN (a.appored in ('2','3') and b.user_id is null) THEN 1 ELSE 0 END can_sign,
                    CASE WHEN c.user_id IS NULL THEN 0 ELSE 1 END is_checkin,
                    CASE WHEN (a.appored ='3' and c.user_id is null) THEN 1 ELSE 0 END can_checkin,
                    CASE WHEN d.user_id IS NULL THEN 0 ELSE 1 END is_review,
                    CASE WHEN (a.appored in ('3','4') and d.user_id is null) THEN 1 ELSE 0 END can_review
                FROM
                    ofa_activities a
                        left join
                    (
                        select b.dict_label,b.dict_value from sys_dict_type a inner join sys_dict_data b on a.dict_type=b.dict_type
                        where a.dict_type='sys_activities_status' and a.status='0' and b.status='0'
                    ) s on a.appored=s.dict_value
                        LEFT JOIN ( SELECT activity_id,user_id FROM ofa_activities_signup WHERE user_id = #{userId} ) b ON a.activity_id = b.activity_id
                        LEFT JOIN ( SELECT activity_id,user_id FROM ofa_activities_checkin WHERE user_id = #{userId} ) c ON a.activity_id = c.activity_id
                        LEFT JOIN ( SELECT activity_id,user_id FROM ofa_activities_review WHERE user_id = #{userId} ) d ON a.activity_id = d.activity_id
                WHERE
                    a.parent_activity_id = 0
                  AND a.appored IN ('2','3','4')
            ) X
            <where>
                <if test="activityId != null ">and activity_id = #{activityId}</if>
                <if test="activityName != null and activityName != ''">and activity_name like CONCAT('%', #{activityName}, '%')</if>
                <if test="orgName != null and orgName != ''">and org_name like CONCAT('%', #{orgName}, '%')</if>
                <if test="startTime != null">and start_time &gt;= #{startTime}</if>
                <if test="endTime != null">and end_time &lt;= #{endTime}</if>
                <if test="status != null and status != ''">and status = #{status}</if>
                <if test="appored != null and appored != ''">and appored = #{appored}</if>
                <if test="hdState != null and hdStatus != ''">and hd_state = #{hdState}</if>
                <if test="isSigned != null and isSigned != ''">and is_signed = #{isSigned}</if>
                <if test="canSign != null and canSign != ''">and can_sign = #{canSign}</if>
                <if test="isCheckIn != null and isCheckIn != ''">and is_checkin = #{isCheckIn}</if>
                <if test="canCheckIn != null and canCheckIn != ''">and can_checkin = #{canCheckIn}</if>
                <if test="isReview != null and isReview != ''">and is_review = #{isReview}</if>
                <if test="canReview != null and canReview != ''">and can_review = #{canReview}</if>
            </where>
    </select>

    <insert id="insertActivities" parameterType="Activities" useGeneratedKeys="true" keyProperty="activityId">
        insert into ofa_activities
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="parentActivityId != null">parent_activity_id,</if>
            <if test="orderNum != null">order_num,</if>
            <if test="activityName != null">activity_name,</if>
            <if test="img != null">img,</if>
            <if test="address != null">address,</if>
            <if test="orgName != null">org_name,</if>
            <if test="content != null">content,</if>
            <if test="tel != null">tel,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="activityType != null">activity_type,</if>
            <if test="status != null">status,</if>
            <if test="appored != null">appored,</if>
            <if test="publishTime != null">publish_time,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="userId != null">user_id,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="apporBy != null">appor_by,</if>
            <if test="apporTime != null">appor_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="parentActivityId != null">#{parentActivityId},</if>
            <if test="orderNum != null">#{orderNum},</if>
            <if test="activityName != null">#{activityName},</if>
            <if test="img != null">#{img},</if>
            <if test="address != null">#{address},</if>
            <if test="orgName != null">#{orgName},</if>
            <if test="content != null">#{content},</if>
            <if test="tel != null">#{tel},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="activityType != null">activity_type,</if>
            <if test="status != null">#{status},</if>
            <if test="appored != null">#{appored},</if>
            <if test="publishTime != null">#{publishTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="userId != null">#{userId},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="apporBy != null">#{apporBy},</if>
            <if test="apporTime != null">#{apporTime},</if>
        </trim>
    </insert>

    <update id="updateActivities" parameterType="Activities">
        update ofa_activities
        <trim prefix="SET" suffixOverrides=",">
            <if test="parentActivityId != null">parent_activity_id = #{parentActivityId},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="activityName != null">activity_name = #{activityName},</if>
            <if test="img != null">img = #{img},</if>
            <if test="address != null">address = #{address},</if>
            <if test="orgName != null">org_name = #{orgName},</if>
            <if test="content != null">content = #{content},</if>
            <if test="tel != null">tel = #{tel},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="activityType != null">activity_type = #{activityType},</if>
            <if test="status != null">status = #{status},</if>
            <if test="appored != null">appored = #{appored},</if>
            <if test="publishTime != null">publish_time=#{publishTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="apporBy != null">appor_by = #{apporBy},</if>
            <if test="apporTime != null">appor_time = #{apporTime},</if>
        </trim>
        where activity_id = #{activityId}
    </update>

    <delete id="deleteActivitiesByActivityId" parameterType="Long">
        delete from ofa_activities where activity_id = #{activityId}
    </delete>

    <delete id="deleteActivitiesByActivityIds" parameterType="String">
        delete from ofa_activities where activity_id in
        <foreach item="activityId" collection="array" open="(" separator="," close=")">
            #{activityId}
        </foreach>
    </delete>


    <select id="selectApporedByIds" parameterType="String" resultType="java.lang.Integer">
        select activity_id from ofa_activities where appored&lt;&gt;'0' and activity_id in
        <foreach item="activityId" collection="array" open="(" separator="," close=")">
            #{activityId}
        </foreach>
    </select>

    <update id="updateStatus" parameterType="Activities">
        update ofa_activities
        <trim prefix="SET" suffixOverrides=",">
            <if test="status != null">status = #{status},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where activity_id = #{activityId}
    </update>

    <update id="apporByIds"  parameterType="ResApporParam">
        update ofa_activities
        <trim prefix="SET" suffixOverrides=",">
            <if test="flag != null">appored = #{flag},</if>
            <if test="apporBy != null">appor_by = #{apporBy},</if>
            <if test="apporTime != null">appor_time = #{apporTime},</if>
            <if test="apporTime != null">publish_time = #{publishTime}</if>
            where activity_id in
            <foreach item="id" collection="ids" open="(" separator="," close=")">
                #{id}
            </foreach>
            or parent_activity_id in
            <foreach item="id" collection="ids" open="(" separator="," close=")">
                #{id}
            </foreach>
        </trim>
    </update>

    <update id="unApporById" parameterType="Long">
        update ofa_activities
        <trim prefix="SET" suffixOverrides=",">
            appored='0',
            publish_time=NULL,
            appor_by=NULL,
            appor_time = NULL,
        </trim>
        where activity_id = #{Id} or parent_activity_id= #{Id}
    </update>

    <update id="unApporByIds" parameterType="String">
        update ofa_activities
        <trim prefix="SET" suffixOverrides=",">
            appored='0',
            publish_time=NULL,
            appor_by=NULL,
            appor_time=NULL
            where activity_id in
            <foreach item="id" collection="array" open="(" separator="," close=")">
                #{id}
            </foreach>
            or parent_activity_id in
            <foreach item="id" collection="array" open="(" separator="," close=")">
                #{id}
            </foreach>
        </trim>
    </update>

</mapper>