<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.cms.offline.mapper.ActivitiesTechMapper">
    
    <resultMap type="ActivitiesTechVo" id="ActivitiesTechResult">
        <result property="techId"    column="tech_id"    />
        <result property="activityId"    column="activity_id"    />
        <result property="activityName"    column="activity_name"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="techType"    column="tech_type"    />
        <result property="pic"    column="pic"    />
        <result property="content"    column="content"    />
        <result property="name"    column="name"    />
        <result property="sex"    column="sex"    />
        <result property="age"    column="age"    />
        <result property="doctor"    column="doctor"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="userId"    column="user_id"    />
        <result property="userType"    column="user_type"    />
        <result property="userName"    column="user_name"    />
        <result property="nickName"    column="nick_name"    />
        <result property="phonenumber"    column="phonenumber"    />
        <result property="deptId"    column="dept_id"    />
        <result property="deptName"    column="dept_name"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectActivitiesTechVo">
        select t.tech_id,t.activity_id,b.activity_name,b.start_time,b.end_time,t.tech_type,t.pic,t.content,t.name,t.sex,t.age,
               t.doctor,t.status,t.del_flag,t.user_id,c.user_type, c.user_name,c.nick_name,c.phonenumber,t.dept_id,d.dept_name,
               t.create_by,t.create_time,t.update_by,t.update_time,t.remark
        from ofa_activities_tech t
                 left join ofa_activities b on t.activity_id=b.activity_id
                 left join sys_user c on t.user_id=c.user_id
                 left join sys_dept d  on t.dept_id=d.dept_id
    </sql>

    <select id="selectActivitiesTechList" parameterType="ActivitiesTech" resultMap="ActivitiesTechResult">
        <include refid="selectActivitiesTechVo"/>
        <where>  
            <if test="techId != null "> and tech_id = #{techId}</if>
            <if test="activityId != null "> and t.activity_id = #{activityId}</if>
            <if test="activityName != null  and activityName != ''"> and activity_name like concat('%', #{activityName}, '%')</if>
            <if test="startTime != null "> and start_time &gt;= #{startTime}</if>
            <if test="endTime != null "> and end_time &lt;= #{endTime}</if>
            <if test="techType != null  and techType != ''"> and tech_type = #{techType}</if>
            <if test="pic != null  and pic != ''"> and pic = #{pic}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="sex != null  and sex != ''"> and sex = #{sex}</if>
            <if test="age != null  and age != ''"> and age = #{age}</if>
            <if test="doctor != null  and doctor != ''"> and doctor = #{doctor}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="userId != null "> and t.user_id = #{userId}</if>
            <if test="userType != null  and userType != ''"> and user_type = #{userType}</if>
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="nickName != null  and nickName != ''"> and nick_name like concat('%', #{nickName}, '%')</if>
            <if test="phonenumber != null  and phonenumber != ''"> and phonenumber = #{phonenumber}</if>
            <if test="deptId != null "> and dept_id = #{deptId}</if>
            <if test="deptName != null  and deptName != ''"> and dept_name like concat('%', #{deptName}, '%')</if>
            <!-- 数据范围过滤 -->
            ${params.dataScope}
        </where>
    </select>
    
    <select id="selectActivitiesTechByTechId" parameterType="Long" resultMap="ActivitiesTechResult">
        <include refid="selectActivitiesTechVo"/>
        where tech_id = #{techId}
    </select>

    <insert id="insertActivitiesTech" parameterType="ActivitiesTech">
        insert into ofa_activities_tech
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="techId != null">tech_id,</if>
            <if test="activityId != null">activity_id,</if>
            <if test="techType != null">tech_type,</if>
            <if test="pic != null">pic,</if>
            <if test="content != null">content,</if>
            <if test="name != null">name,</if>
            <if test="sex != null">sex,</if>
            <if test="age != null">age,</if>
            <if test="doctor != null">doctor,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="userId != null">user_id,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="techId != null">#{techId},</if>
            <if test="activityId != null">#{activityId},</if>
            <if test="techType != null">#{techType},</if>
            <if test="pic != null">#{pic},</if>
            <if test="content != null">#{content},</if>
            <if test="name != null">#{name},</if>
            <if test="sex != null">#{sex},</if>
            <if test="age != null">#{age},</if>
            <if test="doctor != null">#{doctor},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="userId != null">#{userId},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateActivitiesTech" parameterType="ActivitiesTech">
        update ofa_activities_tech
        <trim prefix="SET" suffixOverrides=",">
            <if test="activityId != null">activity_id = #{activityId},</if>
            <if test="techType != null">tech_type = #{techType},</if>
            <if test="pic != null">pic = #{pic},</if>
            <if test="content != null">content = #{content},</if>
            <if test="name != null">name = #{name},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="age != null">age = #{age},</if>
            <if test="doctor != null">doctor = #{doctor},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where tech_id = #{techId}
    </update>

    <delete id="deleteActivitiesTechByTechId" parameterType="Long">
        delete from ofa_activities_tech where tech_id = #{techId}
    </delete>

    <delete id="deleteActivitiesTechByTechIds" parameterType="String">
        delete from ofa_activities_tech where tech_id in 
        <foreach item="techId" collection="array" open="(" separator="," close=")">
            #{techId}
        </foreach>
    </delete>
</mapper>