<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.cms.offline.mapper.ActivitiesTmsdataMapper">
    
    <resultMap type="ActivitiesTmsdataVo" id="ActivitiesTmsdataResult">
        <result property="analyzeId"    column="analyze_id"    />
        <result property="activityId"    column="activity_id"    />
        <result property="activityName"    column="activity_name"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="pic"    column="pic"    />
        <result property="content"    column="content"    />
        <result property="name"    column="name"    />
        <result property="sex"    column="sex"    />
        <result property="age"    column="age"    />
        <result property="recordNo"    column="record_no"    />
        <result property="diagnosis"    column="diagnosis"    />
        <result property="targetedTherapy"    column="targeted_therapy"    />
        <result property="ctMri"    column="ct_mri"    />
        <result property="numberOfTimes"    column="number_of_times"    />
        <result property="rate"    column="rate"    />
        <result property="area"    column="area"    />
        <result property="mt"    column="mt"    />
        <result property="intensity"    column="intensity"    />
        <result property="numOfPulses"    column="num_of_pulses"    />
        <result property="aes"    column="aes"    />
        <result property="doctor"    column="doctor"    />
        <result property="rating"    column="rating"    />
        <result property="comment"    column="comment"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="userId"    column="user_id"    />
        <result property="userType"    column="user_type"    />
        <result property="userName"    column="user_name"    />
        <result property="nickName"    column="nick_name"    />
        <result property="phoneNumber"    column="phonenumber"    />
        <result property="deptId"    column="dept_id"    />
        <result property="deptName"    column="dept_name"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectActivitiesTmsdataVo">
        select t.analyze_id,t.activity_id,b.activity_name,b.start_time,b.end_time,t.pic,t.content,t.name,t.sex,t.age,t.record_no,
               t.diagnosis,t.targeted_therapy,t.ct_mri,t.number_of_times,t.rate,t.area,t.mt,t.intensity,
               t.num_of_pulses,t.aes,t.doctor,t.rating,t.comment,t.status,t.del_flag,t.user_id,c.user_type, c.user_name,c.nick_name,
               c.phonenumber,t.dept_id,d.dept_name,t.create_by,t.create_time,t.update_by,t.update_time,t.remark
        from ofa_activities_tmsdata t
                 left join ofa_activities b on t.activity_id=b.activity_id
                 left join sys_userinfo c on t.user_id=c.user_id
                 left join sys_dept d  on t.dept_id=d.dept_id
    </sql>

    <select id="selectActivitiesTmsdataList" parameterType="ActivitiesTmsdata" resultMap="ActivitiesTmsdataResult">
        <include refid="selectActivitiesTmsdataVo"/>
        <where>  
            <if test="analyzeId != null "> and analyze_id = #{analyzeId}</if>
            <if test="activityId != null "> and t.activity_id = #{activityId}</if>
            <if test="activityName != null  and activityName != ''"> and t.activity_name like concat('%', #{activityName}, '%')</if>
            <if test="startTime != null "> and start_time &gt;= #{startTime}</if>
            <if test="endTime != null "> and end_time &lt;= #{endTime}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="sex != null  and sex != ''"> and sex = #{sex}</if>
            <if test="age != null  and age != ''"> and age = #{age}</if>
            <if test="recordNo != null  and recordNo != ''"> and record_no = #{recordNo}</if>
            <if test="diagnosis != null  and diagnosis != ''"> and diagnosis = #{diagnosis}</if>
            <if test="targetedTherapy != null  and targetedTherapy != ''"> and targeted_therapy = #{targetedTherapy}</if>
            <if test="ctMri != null  and ctMri != ''"> and ct_mri = #{ctMri}</if>
            <if test="numberOfTimes != null "> and number_of_times = #{numberOfTimes}</if>
            <if test="rate != null  and rate != ''"> and rate = #{rate}</if>
            <if test="area != null  and area != ''"> and area = #{area}</if>
            <if test="mt != null  and mt != ''"> and mt = #{mt}</if>
            <if test="intensity != null  and intensity != ''"> and intensity = #{intensity}</if>
            <if test="numOfPulses != null  and numOfPulses != ''"> and num_of_pulses = #{numOfPulses}</if>
            <if test="aes != null  and aes != ''"> and aes = #{aes}</if>
            <if test="doctor != null  and doctor != ''"> and doctor = #{doctor}</if>
            <if test="status != null  and status != ''"> and t.status = #{status}</if>
            <if test="userId != null "> and t.user_id = #{userId}</if>
            <if test="userType != null  and userType != ''"> and t.user_type = #{userType}</if>
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="nickName != null  and nickName != ''"> and nick_name like concat('%', #{nickName}, '%')</if>
            <if test="phoneNumber != null  and phoneNumber != ''"> and phonenumber like concat('%', #{phoneNumber}, '%')</if>
            <if test="deptId != null "> and t.dept_id = #{deptId}</if>
            <if test="deptName != null  and deptName != ''"> and dept_name like concat('%', #{deptName}, '%')</if>
            <!-- 数据范围过滤 -->
            ${params.dataScope}
        </where>
    </select>
    
    <select id="selectActivitiesTmsdataByAnalyzeId" parameterType="Long" resultMap="ActivitiesTmsdataResult">
        <include refid="selectActivitiesTmsdataVo"/>
        where analyze_id = #{analyzeId}
    </select>

    <insert id="insertActivitiesTmsdata" parameterType="ActivitiesTmsdata">
        insert into ofa_activities_tmsdata
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="analyzeId != null">analyze_id,</if>
            <if test="activityId != null">activity_id,</if>
            <if test="pic != null">pic,</if>
            <if test="content != null">content,</if>
            <if test="name != null">name,</if>
            <if test="sex != null">sex,</if>
            <if test="age != null">age,</if>
            <if test="recordNo != null">record_no,</if>
            <if test="diagnosis != null">diagnosis,</if>
            <if test="targetedTherapy != null">targeted_therapy,</if>
            <if test="ctMri != null">ct_mri,</if>
            <if test="numberOfTimes != null">number_of_times,</if>
            <if test="rate != null">rate,</if>
            <if test="area != null">area,</if>
            <if test="mt != null">mt,</if>
            <if test="intensity != null">intensity,</if>
            <if test="numOfPulses != null">num_of_pulses,</if>
            <if test="aes != null">aes,</if>
            <if test="doctor != null">doctor,</if>
            <if test="rating != null">rating,</if>
            <if test="comment != null">comment,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="userId != null">user_id,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="analyzeId != null">#{analyzeId},</if>
            <if test="activityId != null">#{activityId},</if>
            <if test="pic != null">#{pic},</if>
            <if test="content != null">#{content},</if>
            <if test="name != null">#{name},</if>
            <if test="sex != null">#{sex},</if>
            <if test="age != null">#{age},</if>
            <if test="recordNo != null">#{recordNo},</if>
            <if test="diagnosis != null">#{diagnosis},</if>
            <if test="targetedTherapy != null">#{targetedTherapy},</if>
            <if test="ctMri != null">#{ctMri},</if>
            <if test="numberOfTimes != null">#{numberOfTimes},</if>
            <if test="rate != null">#{rate},</if>
            <if test="area != null">#{area},</if>
            <if test="mt != null">#{mt},</if>
            <if test="intensity != null">#{intensity},</if>
            <if test="numOfPulses != null">#{numOfPulses},</if>
            <if test="aes != null">#{aes},</if>
            <if test="doctor != null">#{doctor},</if>
            <if test="rating != null">#{rating},</if>
            <if test="comment != null">#{comment},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="userId != null">#{userId},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateActivitiesTmsdata" parameterType="ActivitiesTmsdata">
        update ofa_activities_tmsdata
        <trim prefix="SET" suffixOverrides=",">
            <if test="activityId != null">activity_id = #{activityId},</if>
            <if test="pic != null">pic = #{pic},</if>
            <if test="content != null">content = #{content},</if>
            <if test="name != null">name = #{name},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="age != null">age = #{age},</if>
            <if test="recordNo != null">record_no = #{recordNo},</if>
            <if test="diagnosis != null">diagnosis = #{diagnosis},</if>
            <if test="targetedTherapy != null">targeted_therapy = #{targetedTherapy},</if>
            <if test="ctMri != null">ct_mri = #{ctMri},</if>
            <if test="numberOfTimes != null">number_of_times = #{numberOfTimes},</if>
            <if test="rate != null">rate = #{rate},</if>
            <if test="area != null">area = #{area},</if>
            <if test="mt != null">mt = #{mt},</if>
            <if test="intensity != null">intensity = #{intensity},</if>
            <if test="numOfPulses != null">num_of_pulses = #{numOfPulses},</if>
            <if test="aes != null">aes = #{aes},</if>
            <if test="doctor != null">doctor = #{doctor},</if>
            <if test="rating != null">rating = #{rating},</if>
            <if test="comment != null">comment = #{comment},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where analyze_id = #{analyzeId}
    </update>

    <delete id="deleteActivitiesTmsdataByAnalyzeId" parameterType="Long">
        delete from ofa_activities_tmsdata where analyze_id = #{analyzeId}
    </delete>

    <delete id="deleteActivitiesTmsdataByAnalyzeIds" parameterType="String">
        delete from ofa_activities_tmsdata where analyze_id in
        <foreach item="analyzeId" collection="array" open="(" separator="," close=")">
            #{analyzeId}
        </foreach>
    </delete>
</mapper>