<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.cms.res.mapper.ResCaseMapper">
    
    <resultMap type="ResCase" id="ResCaseResult">
        <result property="caseid"    column="caseid"    />
        <result property="orderNum"    column="order_num"    />
        <result property="title"    column="title"    />
        <result property="pic"    column="pic"    />
        <result property="caseType"    column="case_type"    />
        <result property="content"    column="content"    />
        <result property="status"    column="status"    />
        <result property="appored"    column="appored"    />
        <result property="publishTime"    column="publish_time"    />
        <result property="userId"    column="user_id"    />
        <result property="deptId"    column="dept_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="apporBy"    column="appor_by"    />
        <result property="apporTime"    column="appor_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectResCaseVo">
        select caseid, order_num, title, pic, case_type, content, status, appored,publish_time, user_id, dept_id,
               create_by, create_time, update_by, update_time, appor_by, appor_time, remark from res_case t
    </sql>

    <select id="selectResCaseList" parameterType="ResCase" resultMap="ResCaseResult">
        <include refid="selectResCaseVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="caseType != null  and caseType != ''"> and case_type = #{caseType}</if>
            <if test="params.beginPublishTime != null and params.beginPublishTime != '' and params.endPublishTime != null and params.endPublishTime != ''"> and publish_time between #{params.beginPublishTime} and #{params.endPublishTime}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="appored != null  and appored != ''"> and appored = #{appored}</if>
            <!-- 数据范围过滤 -->
            ${params.dataScope}
        </where>
    </select>
    
    <select id="selectResCaseByCaseid" parameterType="Long" resultMap="ResCaseResult">
        <include refid="selectResCaseVo"/>
        where caseid = #{caseid}
    </select>
        
    <insert id="insertResCase" parameterType="ResCase" useGeneratedKeys="true" keyProperty="caseid">
        insert into res_case
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderNum != null">order_num,</if>
            <if test="title != null">title,</if>
            <if test="pic != null">pic,</if>
            <if test="caseType != null">case_type,</if>
            <if test="content != null">content,</if>
            <if test="status != null">status,</if>
            <if test="appored != null">appored,</if>
            <if test="publishTime != null">publish_time,</if>
            <if test="userId != null">user_id,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="apporBy != null">appor_by,</if>
            <if test="apporTime != null">appor_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderNum != null">#{orderNum},</if>
            <if test="title != null">#{title},</if>
            <if test="pic != null">#{pic},</if>
            <if test="caseType != null">#{caseType},</if>
            <if test="content != null">#{content},</if>
            <if test="status != null">#{status},</if>
            <if test="appored != null">#{appored},</if>
            <if test="publishTime != null">#{publishTime},</if>
            <if test="userId != null">#{userId},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="apporBy != null">#{apporBy},</if>
            <if test="apporTime != null">#{apporTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateResCase" parameterType="ResCase">
        update res_case
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="title != null">title = #{title},</if>
            <if test="pic != null">pic = #{pic},</if>
            <if test="caseType != null">case_type = #{caseType},</if>
            <if test="content != null">content = #{content},</if>
            <if test="status != null">status = #{status},</if>
            <if test="appored != null">appored = #{appored},</if>
            <if test="publishTime != null">publish_time=#{publishTime},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="apporBy != null">appor_by = #{apporBy},</if>
            <if test="apporTime != null">appor_time = #{apporTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where caseid = #{caseid}
    </update>

    <delete id="deleteResCaseByCaseid" parameterType="Long">
        delete from res_case where caseid = #{caseid}
    </delete>

    <delete id="deleteResCaseByCaseids" parameterType="String">
        delete from res_case where caseid in 
        <foreach item="caseid" collection="array" open="(" separator="," close=")">
            #{caseid}
        </foreach>
    </delete>

    <select id="selectApporedByIds" parameterType="String" resultType="java.lang.Integer">
        select caseid from res_case where appored in ('1','2') and caseid in
        <foreach item="caseid" collection="array" open="(" separator="," close=")">
            #{caseid}
        </foreach>
    </select>

    <update id="updateStatus" parameterType="ResCase">
        update res_case
        <trim prefix="SET" suffixOverrides=",">
            <if test="status != null">status = #{status},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where caseid = #{caseid}
    </update>

    <update id="apporByIds"  parameterType="ResApporParam">
        update res_case
        <trim prefix="SET" suffixOverrides=",">
            <if test="flag != null">appored = #{flag},</if>
            <if test="apporBy != null">appor_by = #{apporBy},</if>
            <if test="apporTime != null">appor_time = #{apporTime},</if>
            <if test="publishTime != null">publish_time = #{publishTime}</if>
            where caseid in
            <foreach item="id" collection="ids" open="(" separator="," close=")">
                #{id}
            </foreach>
        </trim>
    </update>

    <update id="unApporById" parameterType="Long">
        update res_case
        <trim prefix="SET" suffixOverrides=",">
            appored='0',
            publish_time=NULL,
            appor_by=NULL,
            appor_time = NULL,
        </trim>
        where caseid = #{Id}
    </update>

    <update id="unApporByIds" parameterType="String">
        update res_case
        <trim prefix="SET" suffixOverrides=",">
            appored='0',
            publish_time=NULL,
            appor_by=NULL,
            appor_time=NULL
            where caseid in
            <foreach item="id" collection="array" open="(" separator="," close=")">
                #{id}
            </foreach>
        </trim>
    </update>

</mapper>