<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.cms.task.mapper.MyTaskMapper">


    <update id="publishResources">
        <if test="_databaseId == 'mysql'">
            update res_jobinfo set appored='2' where appored='1' and publish_time &lt;= NOW();
            update res_skill set appored='2' where appored='1' and publish_time &lt;= NOW();
            update res_orginfo set appored='2' where appored='1' and publish_time &lt;= NOW();
            update res_expert set appored='2' where appored='1' and publish_time &lt;= NOW();
            update res_case set appored='2' where appored='1' and publish_time &lt;= NOW();
            update res_news set appored='2' where appored='1' and publish_time &lt;= NOW();
            update res_articles set appored='2' where appored='1' and publish_time &lt;= NOW();
            update sys_notice set appored='2' where appored='1' and publish_time &lt;= NOW();
            update res_rxdata set appored='2' where appored='1' and publish_time &lt;= NOW();
            update res_tech set appored='2' where appored='1' and publish_time &lt;= NOW();
            update ofa_activities set appored='2' where appored='1' and publish_time &lt;= NOW();
            update ofa_activities set appored='3' where appored='2' and start_time &lt;= NOW() and end_time &gt;= NOW();
            update ofa_activities set appored='4' where appored in ('2','3') and end_time &lt;= NOW();
            update ofa_activities set appored = '5' WHERE appored IN ('2','3','4') AND DATE_ADD(end_time, INTERVAL 3 DAY) &lt;= NOW();
            UPDATE doc_survey SET survey_status = '2', update_time = CURRENT_TIMESTAMP WHERE end_time IS NOT NULL AND end_time &lt;= CURRENT_TIMESTAMP AND survey_status = '1';
        </if>
        <if test="_databaseId == 'kingbase'">
            update res_jobinfo set appored='2' where appored='1' and publish_time &lt;= CURRENT_TIMESTAMP;
            update res_skill set appored='2' where appored='1' and publish_time &lt;= CURRENT_TIMESTAMP;
            update res_orginfo set appored='2' where appored='1' and publish_time &lt;= CURRENT_TIMESTAMP;
            update res_orginfo set appored='2' where appored='1' and publish_time &lt;= CURRENT_TIMESTAMP;
            update res_expert set appored='2' where appored='1' and publish_time &lt;= CURRENT_TIMESTAMP;
            update res_case set appored='2' where appored='1' and publish_time &lt;= CURRENT_TIMESTAMP;
            update res_news set appored='2' where appored='1' and publish_time &lt;= CURRENT_TIMESTAMP;
            update res_articles set appored='2' where appored='1' and publish_time &lt;= CURRENT_TIMESTAMP;
            update sys_notice set appored='2' where appored='1' and publish_time &lt;= CURRENT_TIMESTAMP;
            update res_rxdata set appored='2' where appored='1' and publish_time &lt;= CURRENT_TIMESTAMP;
            update res_tech set appored='2' where appored='1' and publish_time &lt;= CURRENT_TIMESTAMP;
            update ofa_activities set appored='2' where appored='1' and publish_time &lt;= CURRENT_TIMESTAMP;
            update ofa_activities set appored='3' where appored='2' and start_time &lt;= CURRENT_TIMESTAMP and end_time &gt;= CURRENT_TIMESTAMP;
            update ofa_activities set appored='4' where appored in ('2','3') and end_time &lt;= CURRENT_TIMESTAMP;
            update ofa_activities set appored = '5' WHERE appored IN ('2','3','4') AND end_time&lt;=CURRENT_TIMESTAMP - INTERVAL '3' DAY;
            UPDATE doc_survey SET survey_status = '2', update_time = CURRENT_TIMESTAMP WHERE end_time IS NOT NULL AND end_time &lt;= CURRENT_TIMESTAMP AND survey_status = '1';
        </if>
    </update>

    <update id="updateEtlReport1">
        UPDATE etl_report1 SET org = (SELECT COUNT(*) FROM res_orginfo), update_time = CURRENT_TIMESTAMP WHERE id = 1;
        UPDATE etl_report1 SET resource = (SELECT COUNT(*) FROM res_articles), update_time = CURRENT_TIMESTAMP WHERE id = 1;
        UPDATE etl_report1 SET expert = (SELECT COUNT(*) FROM res_expert), update_time = CURRENT_TIMESTAMP WHERE id = 1;
        UPDATE etl_report1 SET cases = (SELECT COUNT(*) FROM res_case), update_time = CURRENT_TIMESTAMP WHERE id = 1;
        UPDATE etl_report1 SET scale = (SELECT COUNT(*) FROM lbs_contexts WHERE parent_context_id&gt; 1), update_time = CURRENT_TIMESTAMP WHERE id = 1;
        UPDATE etl_report1 SET survey = (SELECT COUNT(*) FROM doc_survey), update_time = CURRENT_TIMESTAMP WHERE id = 1;
        UPDATE etl_report1 SET rxdata = (SELECT COUNT(*) FROM res_rxdata), update_time = CURRENT_TIMESTAMP WHERE id = 1;
        UPDATE etl_report1 SET tech = (SELECT COUNT(*) FROM res_tech), update_time = CURRENT_TIMESTAMP WHERE id = 1;
        UPDATE etl_report1 SET activities = (SELECT COUNT(*) FROM ofa_activities where parent_activity_id=0), update_time = CURRENT_TIMESTAMP WHERE id = 1;
        UPDATE etl_report1 SET chat = (SELECT COUNT(*) FROM chat_message where parent_message_id=0), update_time = CURRENT_TIMESTAMP WHERE id = 1;
        UPDATE etl_report1 SET jobinfo = (SELECT COUNT(*) FROM res_jobinfo), update_time = CURRENT_TIMESTAMP WHERE id = 1;
        UPDATE etl_report1 SET skill = (SELECT COUNT(*) FROM res_skill), update_time = CURRENT_TIMESTAMP WHERE id = 1;
        UPDATE etl_report1 SET notice = (SELECT COUNT(*) FROM sys_notice), update_time = CURRENT_TIMESTAMP WHERE id = 1;
        UPDATE etl_report1 SET police = (SELECT COUNT(*) FROM sys_userinfo where user_type='00'), update_time = CURRENT_TIMESTAMP WHERE id = 1;
        UPDATE etl_report1 SET users = (SELECT COUNT(*) FROM sys_userinfo where user_type!='00'), update_time = CURRENT_TIMESTAMP WHERE id = 1;
    </update>


</mapper>
