<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.cms.survey.mapper.AnswersMapper">

    <resultMap type="Answers" id="AnswersResult">
        <result property="answerId" column="answer_id"/>
        <result property="resultId" column="result_id"/>
        <result property="questionId" column="question_id"/>
        <result property="optionId" column="option_id"/>
        <result property="answerValue" column="answer_value"/>
        <result property="extendValue" column="extend_value"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectAnswersVo">
        select answer_id,
               result_id,
               question_id,
               option_id,
               answer_value,
               extend_value,
               create_by,
               create_time,
               update_by,
               update_time,
               remark
        from doc_answers
    </sql>

    <select id="selectAnswersList" parameterType="Answers" resultMap="AnswersResult">
        <include refid="selectAnswersVo"/>
        <where>
            <if test="resultId != null ">and result_id = #{resultId}</if>
            <if test="questionId != null ">and question_id = #{questionId}</if>
            <if test="optionId != null  and optionId != ''">and option_id = #{optionId}</if>
            <if test="answerValue != null  and answerValue != ''">and answer_value = #{answerValue}</if>
            <if test="extendValue != null  and extendValue != ''">and extend_value = #{extendValue}</if>
        </where>
    </select>

    <select id="selectAnswersById" parameterType="Long" resultMap="AnswersResult">
        <include refid="selectAnswersVo"/>
        where answer_id = #{answerId}
    </select>

    <insert id="insertAnswers" parameterType="Answers" useGeneratedKeys="true" keyProperty="answerId">
        insert into doc_answers
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="resultId != null">result_id,</if>
            <if test="questionId != null">question_id,</if>
            <if test="optionId != null and optionId != ''">option_id,</if>
            <if test="answerValue != null">answer_value,</if>
            <if test="extendValue != null">extend_value,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="resultId != null">#{resultId},</if>
            <if test="questionId != null">#{questionId},</if>
            <if test="optionId != null and optionId != ''">#{optionId},</if>
            <if test="answerValue != null">#{answerValue},</if>
            <if test="extendValue != null">#{extendValue},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <insert id="batchInsertAnswer" parameterType="AnswersVo">
        INSERT INTO public.doc_answers (
        result_id, question_id, answer_value, extend_value,
        create_by, create_time, update_by, update_time, remark
        ) VALUES
        <foreach collection="answersList" item="answer" separator=",">
            (
            #{answer.resultId},
            #{answer.questionId},
            #{answer.answerValue},
            #{answer.extendValue},
            #{answer.createBy},
            #{answer.createTime},
            #{answer.updateBy},
            #{answer.updateTime},
            #{answer.remark}
            )
        </foreach>
    </insert>

    <update id="updateAnswers" parameterType="Answers">
        update doc_answers
        <trim prefix="SET" suffixOverrides=",">
            <if test="resultId != null">result_id = #{resultId},</if>
            <if test="questionId != null">question_id = #{questionId},</if>
            <if test="optionId != null and optionId != ''">option_id = #{optionId},</if>
            <if test="answerValue != null">answer_value = #{answerValue},</if>
            <if test="extendValue != null">extend_value = #{extendValue},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where answer_id = #{answerId}
    </update>

    <delete id="deleteAnswersById" parameterType="Long">
        delete
        from doc_answers
        where answer_id = #{answerId}
    </delete>

    <delete id="deleteAnswersByIds" parameterType="String">
        delete from doc_answers where answer_id in
        <foreach item="answerId" collection="array" open="(" separator="," close=")">
            #{answerId}
        </foreach>
    </delete>

    <delete id="deleteAnswersByResultId" parameterType="Long">
        delete from doc_answers where result_id = #{resultId}
    </delete>

    <delete id="deleteAnswersByResultIds" parameterType="String">
        delete from doc_answers where result_id in
        <foreach item="resultId" collection="array" open="(" separator="," close=")">
            #{resultId}
        </foreach>
    </delete>

    <delete id="deleteAnswersBySurveyId" parameterType="Long">
        DELETE FROM doc_answers
        WHERE result_id IN (
        SELECT result_id
        FROM doc_results
        WHERE survey_id = #{surveyId}
        )
    </delete>

    <delete id="deleteAnswersBySurveyIds" parameterType="java.util.List">
        DELETE FROM doc_answers
        WHERE result_id IN (
        SELECT result_id
        FROM doc_results
        WHERE survey_id IN
        <foreach item="SurveyId" collection="array" open="(" separator="," close=")">
            #{surveyId}
        </foreach>
        )
    </delete>

</mapper>
