<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.cms.survey.mapper.DocResultsMapper">

    <resultMap type="DocResults" id="DocResultsResult">
        <id     property="resultId"       column="result_id"      />
        <result property="surveyId"       column="survey_id"      />
        <result property="resultNo"       column="result_no"      />
        <result property="deptId"         column="dept_id"        />
        <result property="userId"         column="user_id"        />
        <result property="commitTime"     column="commit_time"    />
        <result property="status"         column="status"         />
        <result property="jsonResult"     column="json_result"    />
        <result property="thinJsonResult" column="thin_json_result"/>
        <result property="jsonReport"     column="json_report"    />
        <result property="remark"         column="remark"         />
        <result property="createBy"       column="create_by"      />
        <result property="createTime"     column="create_time"    />
        <result property="updateBy"       column="update_by"      />
        <result property="updateTime"     column="update_time"    />
    </resultMap>

    <resultMap type="DocResultsVo" id="DocResultsVoResult">
        <id     property="resultId"       column="result_id"      />
        <result property="surveyId"       column="survey_id"      />
        <result property="surveyName"       column="survey_name"      />
        <result property="resultNo"       column="result_no"      />
        <result property="deptId"    column="dept_id"    />
        <result property="deptName"    column="dept_name"    />
        <result property="userId"    column="user_id"    />
        <result property="userName"    column="user_name"    />
        <result property="nickName"    column="nick_name"    />
        <result property="userType"    column="user_type"    />
        <result property="sex"    column="sex"    />
        <result property="birthday"    column="birthday"    />
        <result property="phoneNumber"    column="phonenumber"    />
        <result property="commitTime"     column="commit_time"    />
        <result property="status"         column="status"         />
        <result property="jsonResult"     column="json_result"    />
        <result property="thinJsonResult" column="thin_json_result"/>
        <result property="jsonReport"     column="json_report"    />
        <result property="remark"         column="remark"         />
        <result property="createBy"       column="create_by"      />
        <result property="createTime"     column="create_time"    />
        <result property="updateBy"       column="update_by"      />
        <result property="updateTime"     column="update_time"    />
    </resultMap>

    <sql id="selectDocResultsVo">
        SELECT
            t.result_id,
            t.survey_id,
            s.survey_name,
            t.result_no,
            t.dept_id,
            d.dept_name,
            t.user_id,
            u.user_name,
            u.nick_name,
            u.user_type,
            u.sex,
            u.birthday,
            u.phonenumber,
            t.commit_time,
            t.status,
            t.json_result,
            t.thin_json_result,
            t.json_report,
            t.create_by,
            t.create_time,
            t.update_by,
            t.update_time,
            t.remark
        FROM
            doc_results t
                LEFT JOIN doc_survey s ON t.survey_id = s.survey_id
                LEFT JOIN sys_dept d  on t.dept_id=d.dept_id
                LEFT JOIN sys_userinfo u on t.user_id=u.user_id
    </sql>

    <select id="selectDocResultsList" parameterType="DocResultsVo" resultMap="DocResultsVoResult">
        <include refid="selectDocResultsVo"/>
        <where>
            <if test="resultNo != null "> and t.result_no = #{resultNo}</if>
            <if test="surveyId != null ">and t.survey_id = #{surveyId}</if>
            <if test="surveyName != null  and surveyName != ''"> and s.survey_name like concat('%', #{surveyName}, '%')</if>
            <if test="userId != null  and userId != ''">and t.user_id = #{userId}</if>
            <if test="deptName != null  and deptName != ''"> and dept_name like concat('%', #{deptName}, '%')</if>
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="nickName != null  and nickName != ''"> and nick_name like concat('%', #{nickName}, '%')</if>
            <if test="sex != null  and sex != ''"> and sex = #{sex}</if>
            <if test="birthday != null "> and birthday = #{birthday}</if>
            <if test="phoneNumber != null  and phoneNumber != ''"> and phonenumber like concat('%', #{phoneNumber}, '%')</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="params.beginCommitTime != null and params.beginCommitTime != '' and params.endCommitTime != null and params.endCommitTime != ''"> and t.commit_time between #{params.beginCommitTime} and #{params.endCommitTime}</if>
            <!-- 数据范围过滤 -->
            ${params.dataScope}
        </where>
        order by t.commit_time desc
    </select>

    <select id="selectDocResultsById" parameterType="Long" resultMap="DocResultsVoResult">
        <include refid="selectDocResultsVo"/>
        where result_id = #{resultId}
    </select>


    <select id="selectDocResultsBySurveyId" parameterType="Long" resultMap="DocResultsVoResult">
        <include refid="selectDocResultsVo"/>
        where t.survey_id = #{surveyId}
    </select>

    <insert id="insertDocResults" parameterType="DocResults" useGeneratedKeys="true" keyProperty="resultId">
        insert into doc_results
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="surveyId != null">survey_id,</if>
            <if test="resultNo != null">result_no,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="commitTime != null">commit_time,</if>
            <if test="status != null">status,</if>
            <if test="jsonResult != null">json_result,</if>
            <if test="thinJsonResult != null">thin_json_result,</if>
            <if test="jsonReport != null">json_report,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="surveyId != null">#{surveyId},</if>
            <if test="resultNo != null">#{resultNo},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="commitTime != null">#{commitTime},</if>
            <if test="status != null">#{status},</if>
            <if test="jsonResult != null">#{jsonResult},</if>
            <if test="thinJsonResult != null">#{thinJsonResult},</if>
            <if test="jsonReport != null">#{jsonReport},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateDocResults" parameterType="DocResults">
        <trim prefix="SET" suffixOverrides=",">
            <if test="surveyId != null">survey_id = #{surveyId},</if>
            <if test="resultNo != null">result_no = #{resultNo},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="commitTime != null">commit_time = #{commitTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="jsonResult != null">json_result = #{jsonResult},</if>
            <if test="thinJsonResult != null">thin_json_result = #{thinJsonResult},</if>
            <if test="jsonReport != null">json_report = #{jsonReport},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where result_id = #{resultId}
    </update>

    <delete id="deleteDocResultsById" parameterType="Long">
        delete
        from doc_results
        where result_id = #{resultId}
    </delete>

    <delete id="deleteDocResultsByIds" parameterType="String">
        delete from doc_results where result_id in
        <foreach item="resultId" collection="array" open="(" separator="," close=")">
            #{resultId}
        </foreach>
    </delete>

    <delete id="deleteDocResultsBySurveyIds" parameterType="String">
        delete from doc_results where survey_id in
        <foreach item="surveyId" collection="array" open="(" separator="," close=")">
            #{surveyId}
        </foreach>
    </delete>
</mapper>
