<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.cms.survey.mapper.SurveyMapper">

    <resultMap id="SurveyResult" type="Survey">
        <result property="surveyId" column="survey_id"/>
        <result property="surveyName" column="survey_name"/>
        <result property="surveyDesc" column="survey_desc"/>
        <result property="surveyType" column="survey_type"/>
        <result property="endTime" column="end_time"/>
        <result property="surveyStatus" column="survey_status"/>
        <result property="status" column="status"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"      />
        <result property="createTime" column="create_time"    />
        <result property="updateBy" column="update_by"      />
        <result property="updateTime" column="update_time"    />
        <result property="remark" column="remark"         />
    </resultMap>

    <resultMap id="SurveyVoResult" type="SurveyVo">
        <id property="surveyId" column="survey_id"/>
        <result property="surveyName" column="survey_name"/>
        <result property="surveyDesc" column="survey_desc"/>
        <result property="surveyType" column="survey_type"/>
        <result property="endTime" column="end_time"/>
        <result property="surveyStatus" column="survey_status"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createTime" column="survey_create_time"    />
        <collection property="questions" resultMap="QuestionResult" columnPrefix="q_"/>
    </resultMap>

    <resultMap id="QuestionResult" type="QuestionVo">
        <id property="questionId" column="question_id"/>
        <result property="questionNo" column="question_no"/>
        <result property="questionSort" column="question_sort"/>
        <result property="questionName" column="question_name"/>
        <result property="questionType" column="question_type"/>
        <result property="validateRule" column="validate_rule"/>
        <result property="showOrHide" column="show_or_hide"/>
        <result property="notEdit" column="not_edit"/>
        <result property="defaultValue" column="default_value"/>
        <result property="optionDisplay" column="option_display"/>
        <collection property="options" resultMap="OptionResult" columnPrefix="o_"/>
    </resultMap>

    <resultMap id="OptionResult" type="OptionsVo">
        <id property="optionId" column="option_id"/>
        <result property="optionCode" column="option_code"/>
        <result property="optionText" column="option_text"/>
        <result property="optionNo" column="option_no"/>
        <result property="isExtend" column="is_extend"/>
        <result property="wtqdDesc" column="wtqd_desc"/>
        <result property="showQuestion" column="show_question"/>
        <result property="hideQuestion" column="hide_question"/>
        <result property="logicSymbol" column="logic_symbol"/>
        <result property="wtqdValue" column="wtqd_value"/>
    </resultMap>

    <sql id="selectSurveyVo">
        select survey_id,
               survey_name,
               survey_desc,
               survey_type,
               end_time,
               survey_status,
               status,
               del_flag,
               create_by,
               create_time,
               update_by,
               update_time,
               remark
        from doc_survey
    </sql>

    <select id="selectSurveyList" parameterType="Survey" resultMap="SurveyResult">
        <include refid="selectSurveyVo"/>
        <where>
            <if test="surveyName != null  and surveyName != ''">and survey_name like concat('%', #{surveyName}, '%')</if>
            <if test="surveyDesc != null  and surveyDesc != ''">and survey_desc = #{surveyDesc}</if>
            <if test="surveyType != null  and surveyType != ''">and survey_type = #{surveyType}</if>
            <if test="surveyStatus != null  and surveyStatus != ''">and survey_status = #{surveyStatus}</if>
            <if test="status != null  and status != ''">and status = #{status}</if>
            <if test="delFlag != null  and delFlag != ''">and del_flag = #{delFlag}</if>
        </where>
    </select>

    <select id="selectSurveyBySurveyId" parameterType="Long" resultMap="SurveyResult">
        <include refid="selectSurveyVo"/>
        where survey_id = #{surveyId}
    </select>

    <select id="selectFullSurveyById" resultMap="SurveyVoResult">
        SELECT
            s.survey_id,
            s.survey_name,
            s.survey_desc,
            s.survey_type,
            s.end_time,
            s.survey_status,
            s.create_time AS survey_create_time,

            q.question_id AS q_question_id,
            q.question_no AS q_question_no,
            q.question_sort AS q_question_sort,
            q.question_name AS q_question_name,
            q.question_type AS q_question_type,
            q.validate_rule AS q_validate_rule,
            q.show_or_hide AS q_show_or_hide,
            q.not_edit AS q_not_edit,
            q.default_value AS q_default_value,
            q.option_display AS q_option_display,

            o.option_id AS q_o_option_id,
            o.option_code AS q_o_option_code,
            o.option_text AS q_o_option_text,
            o.option_no AS q_o_option_no,
            CAST(COALESCE(NULLIF(o.is_extend,''),'0') AS INTEGER) AS q_o_is_extend,
            o.wtqd_desc AS q_o_wtqd_desc,
            o.show_question AS q_o_show_question,
            o.hide_question AS q_o_hide_question,
            o.logic_symbol AS q_o_logic_symbol,
            o.wtqd_value AS q_o_wtqd_value

        FROM doc_survey s
                 LEFT JOIN doc_question q ON s.survey_id = q.survey_id
                 LEFT JOIN doc_options o ON q.question_id = o.question_id
        WHERE s.survey_id = #{surveyId}
          AND s.status = '0' AND s.survey_status='1' AND s.del_flag='0'
        ORDER BY
            q.question_sort ASC,
            q.question_no ASC,
            o.option_no ASC
    </select>


    <insert id="insertSurvey" parameterType="Survey" useGeneratedKeys="true" keyProperty="surveyId">
        insert into doc_survey
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="surveyName != null and surveyName != ''">survey_name,</if>
            <if test="surveyDesc != null">survey_desc,</if>
            <if test="surveyType != null">survey_type,</if>
            <if test="endTime != null">end_time,</if>
            <if test="surveyStatus != null">survey_status,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="surveyName != null and surveyName != ''">#{surveyName},</if>
            <if test="surveyDesc != null">#{surveyDesc},</if>
            <if test="surveyType != null">#{surveyType},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="surveyStatus != null">#{surveyStatus},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <update id="updateSurvey" parameterType="Survey">
        update doc_survey
        <trim prefix="SET" suffixOverrides=",">
            <if test="surveyName != null and surveyName != ''">survey_name = #{surveyName},</if>
            <if test="surveyDesc != null">survey_desc = #{surveyDesc},</if>
            <if test="surveyType != null">survey_type = #{surveyType},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="surveyStatus != null">survey_status = #{surveyStatus},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where survey_id = #{surveyId}
    </update>

    <update id="updateStatus" parameterType="Survey">
        update doc_survey
        <trim prefix="SET" suffixOverrides=",">
            <if test="status != null">status = #{status},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where survey_id = #{surveyId}
    </update>

    <update id="removeSurveyBySurveyId" parameterType="Long">
        update doc_survey
        set del_flag = '1'
        where survey_id = #{surveyId}
    </update>

    <update id="removeSurveyBySurveyIds" parameterType="String">
        update doc_survey set del_flag = '1' where survey_id in
        <foreach item="surveyId" collection="array" open="(" separator="," close=")">
            #{surveyId}
        </foreach>
    </update>

    <update id="publishSurveyBySurveyIds" parameterType="String">
        update doc_survey set survey_status = '1' where survey_id in
        <foreach item="surveyId" collection="array" open="(" separator="," close=")">
            #{surveyId}
        </foreach>
    </update>

    <delete id="deleteSurveyBySurveyId" parameterType="Long">
        delete
        from doc_survey
        where survey_id = #{surveyId}
    </delete>

    <delete id="deleteSurveyBySurveyIds" parameterType="String">
        delete from doc_survey where survey_id in
        <foreach item="surveyId" collection="array" open="(" separator="," close=")">
            #{surveyId}
        </foreach>
    </delete>

    <update id="restoreSurveyBySurveyIds" parameterType="String">
        update doc_survey set del_flag = '0' where survey_id in
        <foreach item="surveyId" collection="array" open="(" separator="," close=")">
            #{surveyId}
        </foreach>
    </update>

    <update id="revokeSurveyBySurveyId" parameterType="Long">
        update doc_survey
        set survey_status = '0'
        where survey_id = #{surveyId}
    </update>

</mapper>
